*,
*:before,
*:after {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: nth($list: $fuentes-desktop, $n: 1);
    font-weight: 700;
}

h2 {
    font-size: nth($list: $fuentes-desktop, $n: 2);
}

h3 {
    font-size: nth($list: $fuentes-desktop, $n: 3);
}

h4 {
    font-size: nth($list: $fuentes-desktop, $n: 4);
}

h5 {
    font-size: nth($list: $fuentes-desktop, $n: 5) !important;
    font-weight: bold;
}

p {
    font-size: nth($list: $fuentes-desktop, $n: 6);
}

.titulos-1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    font-weight: 700;
    color: $color-primario;
}

.titulos-2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    font-weight: 700;
    color: $color-secundario;
}

.subtitulos-1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    font-weight: 700;
    color: $color-primario;
}

a {
    text-decoration: none;
    color: $color-primario;
}

a:visited {
    color: $color-primario;
}

.fondo-blanco {
    background-color: $color-primario;
    color: $color-secundario;
}

.centrar-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.espacios-verticales {
    margin: 2rem 0rem;
}

.espacios-costados {
    padding: 0rem 2rem;
}

.imagen-transparente {
    img {
        mask-image: linear-gradient( black 80%, transparent);
    }
}

.imagengrande {
    width: 60% !important;
    border-radius: 10px;
}

.fondo-celeste {
    background-color: #007994;
    color: white !important;
}


  .portada {
    position: relative;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/trabajosenmendoza-9801f.appspot.com/o/Portada1.webp?alt=media&token=818fe156-3670-4b96-b999-d3e8b500f02d");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;

    /* Pseudo-elemento para el degradado oscuro */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgb(0, 111, 155), rgba(0, 0, 0, 0.425)); /* Ajusta los valores para cambiar el nivel de oscuridad */
        z-index: 1;
    }

    /* Asegura que el contenido esté por encima del degradado */
    h1, p, .boton-comenzar, .imagen-transparente img {
        position: relative;
        z-index: 2;
    }
}