    $fuentes-desktop: 4.2rem,
    4rem,
    3rem,
    2rem,
    1.5rem,
    1.8rem;
    $fuentes-1024: 3.8rem,
    3.2rem,
    3rem,
    3rem,
    2.2rem,
    1.8rem;
    $fuentes-400: 3.8rem,
    3.2rem,
    3.2rem,
    3.2rem,
    2.2rem,
    1.8rem;