$color-primario: #ffffff;
$color-secundario: #007994;
$color-terciario: #c9c9c9;
$color-cuarto: #ffffff;
$color-quinto: #000000;

$color-background: #ffffff;
$color-text: #007994;
$color-border:#007994;

