.container-formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: $color-primario;
    margin-bottom: 2rem;
}

@media (max-width:720px) {
    .formulario {
        flex-direction: column;
    }
}

.formulario {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.formulario input {
    padding: 0rem 2rem;
    margin: 0.2rem;
    border-radius: 10px;
    border: solid 4px $color-secundario;
    background-color: $color-cuarto;
    color: $color-quinto;
}

.formulario input:focus {
    border: solid 4px $color-primario !important;
}

.boton-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    border: 2px solid $color-primario;
    border-radius: 10px;
    background-color: $color-secundario;
    color: $color-primario;
    font-size: 2rem;
    margin: 1rem 0rem;
}