    .container-servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 0rem;
    }
    
    .container-ofertas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3rem 0rem;
    }
    
    .servicios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        width: 90%;
    }
    
    .servicio {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: $color-primario;
        border: 5px solid $color-secundario;
        border-radius: 20px;
        padding: 3rem;
        text-align: center;
        align-items: center;
        color: $color-quinto;
        box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
        transition: transform 0.3s;
        font-weight: 600;
        max-width: 400px;
        img {
            width: 70%;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 1.5rem;
        }
    }
    
    .boton-servicios {
        display: flex;
        padding: 1rem 4rem;
        border: 4px solid $color-primario;
        border-radius: 10px;
        background-color: $color-secundario;
        margin-bottom: 2rem;
    }
    
    .boton-servicios:hover {
        transition: 0.3s ease;
        transform: scale(1.05);
        background-color: white;
        border: 4px solid $color-secundario;
    }
    
    .boton-servicios a {
        font-size: 1.5rem;
        font-weight: 500;
        color: $color-primario;
    }
    
    .boton-servicios a:hover {
        font-size: 1.5rem;
        font-weight: 700;
        color: $color-secundario;
    }
    
    .container-servicio-detail {
        display: flex;
        justify-content: center;
    }
    
    .servicio-detail {
        display: flex;
        justify-content: space-between;
        background-color: $color-primario;
        border: 4px solid $color-secundario;
        border-radius: 10px;
        padding: 2rem;
        text-align: center;
        align-items: center;
        color: $color-quinto;
        margin: 1rem;
        box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
        transition: transform 0.3s;
        font-weight: 600;
        max-width: 90rem;
        img {
            width: 40%;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 1.5rem;
        }
    }
    
    .servicio-detail-div {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0rem 2rem;
        padding: 0rem 2rem;
    }
    
    .contenedor-item-count {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 350px;
    }
    
    .item-count {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: fit-content;
    }
    
    .sumador {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .sumador h4 {
        font-weight: 700;
    }
    
    .boton-contador {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        border: 2px solid $color-primario;
        border-radius: 10px;
        background-color: $color-secundario;
        color: $color-primario;
        font-size: 1.5rem;
        margin: 0rem 1rem 0rem 1rem;
    }
    
    .agregar-carrito {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.5rem;
        border: 2px solid $color-primario;
        border-radius: 10px;
        background-color: $color-secundario;
        color: $color-primario;
        font-size: 1.5rem;
    }
    
    .div-carrito {
        display: flex;
        max-width: fit-content;
    }
    
    .carrito-mobile {
        display: none;
    }
    
    .carrito-navbar a {
        display: flex;
        text-align: center;
        color: $color-secundario;
    }
    
    .carrito-navbar img {
        max-width: 40px;
    }
    
    .carrito-container {
        display: flex;
        flex-direction: column;
        background-color: $color-cuarto;
        padding: 2rem;
        border-radius: 10px;
        border: 4px solid $color-secundario;
        margin: 0rem 0rem 2rem 2rem;
        width: 350px;
        font-weight: 700;
    }
    
    .total-compra {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        width: fit-content;
    }
    
    @media (max-width: 1000px) {
        .carrito-mobile {
            display: block;
        }
        .carrito-escritorio {
            display: none;
        }
    }
    
    @media (max-width:720px) {
        .carrito-container {
            margin: 0rem 2rem 2rem 2rem;
        }
        .servicio-detail {
            max-width: 300px;
            img {
                width: 60%;
                border-radius: 50%;
                margin-bottom: 1rem;
            }
        }
        .container-servicio-detail {
            flex-direction: column;
            max-width: 400px;
            text-align: center;
        }
        .servicio-detail {
            flex-direction: column;
        }
        .contenedor-item-count {
            align-items: center;
        }
        .agregar-carrito {
            padding: 0.2rem;
        }
    }
    
    .swal2-confirm {
        background-color: $color-secundario;
        font-size: 1.2rem;
    }
    
    .swal2-popup {
        width: 35em;
    }
    
    .swal2-title {
        font-size: 3em;
    }
    
    .swal2-html-container {
        font-size: 2em !important;
    }