.navbar {
    background-color: $color-background;
    border-bottom: 3px solid $color-border;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
  
    .navbar-brand {
      font-size: 1.8rem;
      color: $color-text;
      font-weight: bold;
      padding: 0;
      &:hover {
        color: darken($color-text, 10%);
      }
    }
  
    .navbar-toggler {
      border: none;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007994' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        width: 2rem;
        height: 2rem;
      }
    }
  
    .nav-item {
      font-size: 2rem;
  
      .nav-link {
        color: $color-text;
        padding: 0.5rem 1rem;
        transition: color 0.3s ease;
        font-weight: bold;

  
        &:hover {
          color: darken($color-text, 90%);
        }
      }
  
      .active {
        color: darken($color-text, 0%);
        font-weight: bold;
      }
  
      .dropdown-menu {
        background-color: $color-background;
        border: 1px solid $color-border;
        border-radius: 0.5rem;
        padding: 0.5rem;
  
        .dropdown-item {
          color: $color-text;
          font-size: 1.5rem;
          padding: 0.5rem 1.5rem;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: lighten($color-border, 40%);
            color: darken($color-text, 20%);
          }
        }
      }
    }
  
    .carrito-escritorio {
      display: none; // Solo mostrar en escritorio
    }
  
    .carrito-mobile {
      display: block; // Solo mostrar en mobile
    }
  
    @media (max-width: 720px) {
      .carrito-escritorio {
        display: block;
      }
      .carrito-mobile {
        display: none;
      }
    }
  }
